[2014-07-16 02:59] kennycason opened #1 "Fix text to appear cleaner after rotations."

[2014-08-18 14:01] tvadakin opened #2 "License Status"
Hey Kenny,

Love this library and look forward to using it. One question - what license are you operating this under?

Thanks!

[2014-08-18 16:21] kennycason opened #3 "Improve nasty spiral function code"
Currently the code is baked into the main draw loop.

[2014-08-18 17:09] #2 closed, assigned to nobody

[2014-08-19 01:25] tvadakin opened #4 "Maven Build Failure"
I'm failing on the build...

Tests run: 17, Failures: 0, Errors: 3, Skipped: 0, Time elapsed: 329.036 sec <<< FAILURE!
matchOnlineExample(wordcloud.TestWordCloud)  Time elapsed: 0.004 sec  <<< ERROR!
java.io.FileNotFoundException: \tmp\code.txt (The system cannot find the path specified)

[2014-08-20 02:05] tvadakin opened #5 "Examples don't work"
So I built the .jar, added to my project, and then did a:

import wordcloud.*;

However, none of your examples are working, with a copy and paste - appears as though classes are missing or misspelled.

What I have is a list of words and their integer weights (the generation of the weights was a separate function) - how can I pass those to kumo and return a circular or rectangular wordcloud?

Thank

[2014-09-03 18:53] #4 closed, assigned to kennycason

[2014-09-29 14:06] Mirabis opened #6 "Examples don't work: BuildWordFrequences is not known"
Hello Kenny,

I stumbled upon your project and decided to build the jar file, which went successful. But I wasn't able to get any of the examples nor the testfiles to work. BuildWordFrequences() seems to cause issues, as it can't find a reference to it.

If you have any pointers on how to resolve this issue, I'd be very grateful.

Kind Regards,

Mirabis

[2014-09-30 06:10] #5 closed, assigned to nobody

[2014-09-30 06:11] #6 closed, assigned to kennycason

[2014-11-30 06:04] kennycason opened #7 "Create JPanel example (optionally with clickable text)"

[2015-03-11 11:57] theclue commented on #7
+1 for this request! it would be really, really useful in my opinion

[2015-03-11 12:02] theclue opened #8 "Add kumo to central maven repo"
It would be great if you could add maven into a centralized maven repo. I'm just waiting that to start using this wonderful library at work :)

[2015-03-24 14:05] zapodot commented on #8
@kennycason if you need any help with this, let me know :+1:

[2015-03-24 14:26] kennycason commented on #8
@zapodot Thanks!

I actually started the process but got rejected because my Jar didn't have sources, (documentation as well?). I wasn't to familiar with the actual process of prepping the project for maven central. If you have a good guide for what to do, or want to submit a PR, I'd be more than happy. I can also easily open the ticket back up after we're ready.

Work has been kicking by but for

[2015-03-25 07:15] zapodot commented on #8
@kennycason you are almost there... Check my PR for details :-)

[2015-03-25 15:33] kennycason commented on #8
Thanks a lot! :)

[2015-04-01 08:26] zapodot commented on #8
@kennycason Happy to see this one solved. I guess you can close this ticket now :-)

[2015-04-01 09:10] kennycason commented on #8
Yes indeed. Do you by chance know the connection between having my repo in maven central and having it show up in http://mvnrepository.com/ ?
I guess I mistakenly always assumed they were related.

[2015-04-01 09:10] #8 closed

[2015-04-01 09:16] zapodot commented on #8
When you deploy a new release it is uploaded to Sonatype's OSS repo.
Periodically the OSS repo is synced with "maven central" (I guess it does
so a few times a day)

The search engine at mvnrepository.com is created by a third party and I
guess is based on some index having to be updated before you will find your
artifact there. Another search engine is http://search.maven.org/ which
should be upd

[2015-04-02 17:18] kennycason commented on #8
Thanks!

[2015-05-31 08:24] samemon opened #11 "Java Exception"
Hi.
I am new to Java and Eclipse.
I tried to run your project and it's all fine - does not have any bugs/missing libraries, but it does not have the getInputStream method. What does this function return if I have a text file of say tweets separated by new line ?

[2015-05-31 10:30] samemon commented on #11
Also I made a main for the program as follows :

public class Main {

	public static void main(String[] args) throws IOException {
		// TODO Auto-generated method stub
		final FrequencyAnalizer frequencyAnalizer = new FrequencyAnalizer();
		final List<WordFrequency> wordFrequencies = frequencyAnalizer.load(getInputStream("text/english_tide.txt"));

		final WordCloud wordCloud = new WordCloud(600,

[2015-06-01 19:10] kennycason commented on #11
Sorry about all the problems.

First, the getInputStream method, I defined it as be following in ITestWordCloud:
[code]
I was using it to load resources from within the jar for the sake of the demo. You could also pass in a FileInputStream to read/analyze text files that are external to the project jar.

The above exception `java.lang.ClassNotFoundException: org.hamcrest.BaseMatcher` is cause by t

[2015-08-03 19:09] edjacob25 opened #12 "Non-English characters are not represented properly"
Characters commonly used in languages like Spanish or French are not stored nor shown properly because the use of a deprecated method in IOUtils.
The fix is rather simple, just change the following line from `nlp/FrequencyAnalizer.java`:
[code]
to
[code]
or add an overload method which let you choose your encoding.

[2015-08-03 20:01] kennycason commented on #12
thanks! I'll update it and make it configurable, utf8 by default :)

[2015-08-03 22:07] kennycason commented on #12
Making a lot of other configuration updates as well.

[2015-08-03 23:34] #12 closed

[2015-08-03 23:35] kennycason commented on #12
I will be doing a re-release tomorrow after more testing/refactoring.

[2015-08-05 18:31] #11 closed

[2015-08-05 18:31] kennycason commented on #11
Feel free to re-open if you have the issue still!

[2015-08-27 13:28] RCasatta opened #14 "Empty string appear in word frequency list causing exception"
Hi,
I am hitting this exception:

java.lang.IllegalArgumentException: Width (0) and height (25) cannot be <= 0
	at java.awt.image.DirectColorModel.createCompatibleWritableRaster(DirectColorModel.java:1016)
	at java.awt.image.BufferedImage.<init>(BufferedImage.java:340)
	at wordcloud.Word.<init>(Word.java:39)
	at wordcloud.WordCloud.buildWord(WordCloud.java:260)
	at wordcloud.WordCloud.buildwords(W

[2015-08-27 14:54] kennycason commented on #14
Thanks for the report! I'll fix this.

[2015-09-11 22:36] JamesHe1990 opened #15 "where is your getInputStream method"
Hi, I see many of your example using getInputStream method, but the method was not in your code. Do you have a demo.java that can run some example?  Thanks

[2015-09-12 06:50] kennycason commented on #15
I didn't provide it since InputStream is a fairly comment Java Interface and there are many method to retrieve an InputStream.

If you want to load an InputStream from a resource that's bundled in a jar (As I did in the examples), You can call:
[code]
Also note that you can load external files via constructing a FileInputStream

[2015-09-12 06:51] kennycason commented on #15
http://docs.oracle.com/javase/7/docs/api/java/io/InputStream.html

http://tutorials.jenkov.com/java-io/inputstream.html

[2015-09-12 06:51] #15 closed

[2015-11-14 17:48] lfdversluis opened #16 "setMinWordLength gives an exception"
Hey, nice library.

I loaded some text into it and settings ``frequencyAnalyzer.setMinWordLength(2);`` for words such as "ok" and "gg", but this gives me an exception:
[code]
where line 56 is ``wordCloud.build(wordFrequencies);``

[2015-11-14 17:56] lfdversluis commented on #16
Might be related to the empty string issue #14

[2015-11-20 11:32] wolfposd commented on #14
in WordCloud.java #246 its possible to add an additional check for empty strings:

[code]

[2015-11-20 18:22] kennycason commented on #14
:+1: Agreed. Sounds like a combination of bad tokenization/normalization/usage. I'll add a check.

[2015-12-01 15:20] sy-tang opened #19 "Any plan to support Android?"

[2016-01-06 13:17] rj93 opened #20 "Maven build failure due to encoding"
I am trying to build this on Windows 7, but I am getting several errors due the encoding of the system (Cp1252)

The first of which is:

	INFO  wordcloud.nlp.tokenizer.TestChineseWordTokenizer - Õ, ╝, ╣, Ú, ?, ô, Õ, », ╝, Õ, ╝, ╣
	Tests run: 1, Failures: 1, Errors: 0, Skipped: 0, Time elapsed: 2.829 sec <<< FAILURE!
	test(wordcloud.nlp.tokenizer.TestChineseWordTokenizer)  Time elapsed: 2.727 sec

[2016-01-06 21:25] kennycason commented on #20
Intersting. I'm wondering if this is a Windows specific issue.

[2016-01-06 21:26] kennycason commented on #20
Can you try some of these solutions? http://stackoverflow.com/questions/9976616/maven-platform-encoding

[2016-01-07 07:41] rj93 commented on #20
This fixed the issue:

    <properties>
        <project.build.sourceEncoding>UTF-8</project.build.sourceEncoding>
    </properties>

Thanks!

[2016-01-07 07:41] #20 closed

[2016-01-07 19:06] kennycason commented on #20
Awesome, create a PR and i'll merge it in :)

[2016-01-18 22:56] kennycason commented on #19
What's needed specifically? It's in Java and has an interface for BufferedImages. I'm not familiar with what is required to make it work for Android. :)

[2016-01-27 11:43] georgeguo opened #22 "Unrecognizable Chinese characters on output image"
Hi,

When I was trying to produce a wordcloud based on a chinese txt file, the output image only contains blocks instead of correct Chinese words.

I've tried to encode the input file into "UTF-8" and "GBK". Both of the encoding couldn't fix the problem.

I'm using the sample code from the Github page with Kumo-1.4.jar to produce Chinese circle wordcloud through Eclipse.

Here is my code piece:

[

[2016-02-21 10:03] kennycason commented on #14
should be fixed now.

[2016-02-21 10:03] #14 closed

[2016-02-21 10:03] kennycason commented on #16
fixed.

[2016-02-21 10:03] #16 closed

[2016-02-21 10:19] #7 closed

[2016-02-21 10:20] kennycason commented on #22
@georgeguo Thanks for filing the bug. What operating system are you using?

[2016-02-21 10:21] kennycason opened #23 "Use R or Quad tree for faster word placement"
This will speed up placement code by removing unnecessary collision detections. It will not help the fact that the WordCloud.place function has a more and more difficult time placing words as the cloud fills up.

[2016-02-21 10:21] kennycason opened #24 "Implement parallelized wordcloud building automatically"

[2016-02-21 20:26] kennycason opened #26 "Create kumo-extensions project to remove Tokenizer implementations from kumo-core"

[2016-02-21 20:26] #23 closed

[2016-02-21 20:30] kennycason opened #27 "Improve painfully slow place method in WordCloud"
specifically the double for loop

[2016-03-03 09:44] georgeguo commented on #22
@kennycason Sorry for the late reply. This code was running on Windows 10. I haven't tried on Mac yet. Do you think it is my code's problem or the OS?

[2016-03-07 01:32] kennycason commented on #22
my guess is an OS issue or encoding issue with the file. i need to also ensure my loader is reading in UTF8 and I need to make that configurable. I'll look into it some more. :)

[2016-03-09 19:02] kennycason opened #28 "Per word font/color override rules."

[2016-03-21 13:23] HausReport opened #29 "Catch event when word is clicked on"
Does kumo provide a mechanism to handle clicking on words in the cloud widget?  Ideally, I'd like the user to be able to click on, say, "Apple" and be able to register a listener that gets the string "Apple".

[2016-03-21 16:11] kennycason commented on #29
I've thought about this a lot. Right now it draws directly to an image but I'd like to provide that kind of support for when embedding into a JFrame. It's not trivial unfortunately.

[2016-04-17 20:09] johnspade opened #30 "Filter by stop-words"
https://github.com/kennycason/kumo/blob/master/src/main/java/com/kennycason/kumo/nlp/FrequencyAnalyzer.java#L103
I think that you should normalize words BEFORE filter(). Filter by stop-word "apple" misses "apple," (with comma).

[2016-06-09 23:24] kennycason opened #31 "CLI Integration"

[2016-06-13 09:06] hilecx opened #32 "about default font "Comic Sans""
I deploy my app on centos6, but the chinese chars can not displayed in picture which generated by kumo。

I used following code to make sure that my linux has the font "Comic Sans" .
`GraphicsEnvironment.getLocalGraphicsEnvironment().getAvailableFontFamilyNames();`

So I tried some other fonts (songti \AR PL UMing CN ..),  they worked well。
I guess there is something wrong with "Comic Sans"。

-----

[2016-06-14 00:37] kennycason commented on #32
Thanks. I'll do some research in finding a better default font. I may also add functionality that will attempt multiple default fonts and ensure it only selects a font that exists on the system. :)

[2016-06-14 13:01] theooos opened #34 "Emoji Support"
I've been trying to implement this myself to help you out, but have been struggling. Emoji support would be great, have been attempting to create a word cloud of all my conversations with my other half, to be printed on a canvas. We use emojis a lot, and to see their frequency turn up too would be great.

[2016-06-14 18:03] kennycason commented on #34
Interesting. I love this idea. :) Let me think on it a bit.

[2016-06-14 21:39] kennycason commented on #34
Progress :)
![screen shot 2016-06-14 at 2 37 54 pm](https://cloud.githubusercontent.com/assets/2858428/16060649/b97d646c-323d-11e6-9169-5fcff3e7737c.png)

[2016-06-14 22:46] kennycason commented on #34
![wordcloud_emoji](https://cloud.githubusercontent.com/assets/2858428/16062303/20475c44-3247-11e6-8f8c-bc99b25fe2de.png)

[2016-06-14 22:49] kennycason commented on #34
Added support for loading TTF files.
Fixed bug in text placement so that text/emoji's don't get cut off.

[2016-06-14 22:59] kennycason commented on #34
Here is an example. Having a TTF that supports emoji is also key. https://github.com/kennycason/kumo/blob/master/src/test/java/com/kennycason/kumo/EmojiWordCloudITest.java

[2016-06-14 22:59] kennycason commented on #34
I just deployed Kumo 1.8

[2016-06-14 23:00] #34 closed

[2016-06-14 23:00] #31 closed

[2016-06-14 23:00] kennycason commented on #31
Released in version 1.7+

[2016-06-14 23:42] theooos commented on #34
Legend!

[2016-06-15 14:28] theooos commented on #34
Tried using OpenSansEmoji as you did, but a couple of Emojis get mis-translated along the way as pictured. Also, I'd really love to use apple's default emojis with the Apple Color Emoji font, however this just returns a blank image.

And just to really push my luck, I can imagine this could require quite a fair bit of extra work and I'd love to help out where I can, but could these emojis avoid th

[2016-06-19 15:08] theooos opened #35 "Apple Color Emoji Support"
Hey again, was still having a couple of issues with some of the emojis when using the Open Sans Emoji font as you were. I wasn't sure if you saw this on the closed issue so I've opened another.

![bdea5390-330d-11e6-894a-62c91de4b371](https://cloud.githubusercontent.com/assets/5040901/16178106/b9faefe2-3637-11e6-9ec9-5a140ce580af.png)

Also, do you think it'd be possible to support Apple's default

[2016-06-20 05:24] kennycason commented on #35
Your request makes perfect sense for me. When I first started this was what I originally wanted. :) I'll look into adding some more native emoji support. Let me look into it a bit and see what I can come up with. I have a couple ideas.

[2016-06-24 21:05] NathanGavenski opened #36 "Center the image"
hi,

is there a way to center the word cloud in the image?

[2016-06-25 06:32] kennycason commented on #36
Can you explain more what you mean? I know your Q is very straight forward, but i thought this is the default behavior. It should spiral around from the center by default.

[2016-06-26 03:57] ChrisHennickAtGoogle opened #37 "Use Guava HashMultiset"
Guava's HashMultiset class would make it much faster to preprocess text. I'd suggest converting the raw tokens from languagetool to a HashMultiset<String> before any further processing, and using the entrySet() method to process each distinct token only once during normalization, filtering etc.

[2016-06-26 23:58] kennycason commented on #37
I intentionally started with the mindset of not putting in to many dependencies. But if people are interested in performance (outside of better data structures/algorithms), I'd probably hook in GS collections (now Eclipse collections) :)

[2016-06-27 20:17] NathanGavenski commented on #36
Maybe is a mvn package problem, but when i changed the resolution for 1280x720 it starts at the upper right and not in the center

[2016-06-28 03:04] kennycason commented on #36
I'll look into it. Thanks!

[2016-07-12 11:57] linuxraudi opened #38 "export svg"
Hi,

Is there a way to write to svg (or any other vector graphic)?

Andreas

[2016-08-05 21:48] kennycason commented on #38
I currently don't have any plan to implement SVG output, but would be accepting of that added functionality. :)

[2016-10-07 20:11] artikulant commented on #29
that feature would be great!
I found Kumo yesterday, so I'm just starting to explore the possibilities of Kumo. Didn't know there is a "Cloud Widget"? I currently develop a flickr stats tool and use Kumo in conjunction with [Flickr4Java](https://github.com/boncey/Flickr4Java) to visualice the used photo-tags. I show the cloud as a JLable icon in a JDialog,

[2016-10-07 21:25] artikulant opened #39 "too long words are not rendered"
Hi,
I use Kumo to create a cloud of all used flickr tags of a user. flickr "normalizes" tags in some way by removing spaces between words of one tag set by the user, so the resulted word could be very long.
Now, if I define a too big max-size for the font like for example:
**wordCloud.setFontScalar(new LinearFontScalar(10, 150));**
so that a long tag with a high frequency would result in a too big

[2016-11-19 19:51] rcriosbr opened #40 "Filters not working properly"
I have set **FrequencyAnalyzer** with my set of stop words using `frequencyAnalyzer.setStopWords(stopWords);`. stopWords is a simple `Set<String>`.

After that the word cloud is rendered, some words that are present into stopWords are included into the cloud image. I debugged the code I can see that the **StopWordFilter** was properly initialized with my list.

The second problem is that WordSizeF

[2016-11-21 16:55] liar666 opened #41 "Example is crashing with java.lang.VerifyError overrides final method visit"
I'm trying to run "rectangle" example (nb 3) from:
https://github.com/kennycason/kumo
but I get:
[code]

[2016-11-22 11:27] liar666 commented on #41
OK thanks to:
http://stackoverflow.com/questions/9366403/java-lang-verifyerror-class-net-sf-cglib-core-debuggingclasswriter#9447713

I discovered this comes from a conflict with 2 different versions of cglib in my classpath.

One is included in kumo.

The solution for me was to unjar kumo.jar, remove all the included libs that enters in conflict with my local versions, then recreate the (lightened

[2016-11-22 11:27] #41 closed

[2016-11-22 15:36] liar666 opened #42 "Wrong code in examples"
- In example 3:
`buildRandomColorPalette()` is not defined

- In example 4: according to
https://github.com/kennycason/kumo/blob/master/src/main/java/com/kennycason/kumo/palette/LinearGradientColorPalette.java
constructor of `LinearGradientColorPalette()` has colors first, then steps...

[2016-11-23 02:16] kennycason commented on #41
@liar666 Thanks for pointing this out, I'll investigate "lightening the jar" as well on my end.

[2016-11-23 02:16] kennycason commented on #42
👍 Indeed they are out of date. Thanks.

[2016-11-23 02:16] kennycason opened #43 "Lighten external dependencies."

[2017-02-27 13:56] rzo1 commented on #43
Please think about removing `lambdaj` as this drags some odd dependencies (i.e. `hamcrest`) into the code base.

[2017-03-19 05:09] kennycason commented on #43
@rzo1 definitely agree. As of late I have been using Eclipse Collections for everything, but will try and stick to only using Java libs as much as possible.

[2017-03-20 15:17] rzo1 commented on #43
I worked on this in my forked repo (and did some heavy refactoring to extract some concepts in different maven modules). Maybe this is interesting and I can submit a pull request?

[2017-03-30 08:57] kennycason commented on #43
yeah sounds great. don't refactor the chinese tokenizer yet however, I'll pull that out next and move it into a different project kumo-tokenizers-chinese, or something.

[2017-04-26 14:17] sultan-mirza opened #45 "Hyperlink for each phrase"
Can it support hyperlinking on each phrase/word we use

[2017-05-02 05:24] howtimeflies-io commented on #43
Hi @rzo1 and @kennycason

Is there any progress in removing `lambdaj`?
I am going to do it myself if you did not start it yet.

Thanks.

[2017-05-02 07:35] rzo1 commented on #43
@howtimeflies-io I just added the pull request... did this 2 months ago... ;)

[2017-05-02 07:44] howtimeflies-io commented on #43
Thank you @rzo1

I did it myself just now 😄

Maybe it is also nice to update the maven dependencies (`commons-io`, `commons-lang3` and `junit`) to their latest version in your pull request.

[2017-05-02 07:55] rzo1 commented on #43
I think, I did an update on the dependencies in my other branch (extracting the heavy nlp dependencies) @howtimeflies-io

[2017-05-02 08:05] howtimeflies-io commented on #43
@rzo1

Cool! I will check that branch. Thanks.

[2017-05-25 14:09] kennycason commented on #43
Thanks guys! I just reviewed the PRs, some minor comments and I'll test and merge!

[2017-05-25 14:10] kennycason commented on #45
Right now It generates an Image file. I have another support ticket open to render to a JFrame/Window where we could more things like links, and on-click events.

[2017-05-30 17:53] rzo1 commented on #43
@kennycason If I can support updating documentation and/or changelog, just comment here with concrete tasks, so we can go for Maven Central soon :)

[2017-06-01 18:54] kennycason commented on #43
@rzo1 I'm planning on updating doc, testing, and deploying to maven central tomorrow afternoon. I am baby sitting some large hadoop jobs so have a bit of "free" during the afternoon. :)

[2017-06-02 04:45] kennycason commented on #43
I noticed the project doesn't even compile. Gong to resolve that before anything.

[2017-06-02 05:15] kennycason commented on #43
@rzo1 Did you run any of the examples after you made this refactor? Mine are all stuck in infinite loops, or run out of heap space, and such. Logging is also not printing out anymore.

I'm going to debug through it and see what the issue is.

[2017-06-02 05:31] rzo1 commented on #43
Maybe we can meet on IRC to discuss on demand finding? ;)

[2017-06-02 05:36] kennycason commented on #43
@rzo1 it's no problem. Given the lack of unit tests and size of refactor, I'm not surprised, nor concerned ha.
Learnings so far:
- sort got reversed on the frequency loader. fixing that and adding unit test
- next the image rotator is killing the heap, not sure why, investigating now. :)

[2017-06-02 05:36] kennycason commented on #43
Of course, by lack of unit tests, I mean, MY lack of unit tests :D

[2017-06-02 05:42] kennycason commented on #43
it's trying to create an array of size 12,468x4070 in CollisionRaster for each word, when this is supposed to just be the size of the canvas. Not sure why yet, but that certainly explains the heap space exceptions

[2017-06-02 05:44] rzo1 commented on #43
I was expecting, that I may break something - can you tell me the name of the test-case? So I can start some investigations, too ? I am IRC available at freenode / #kumo

[2017-06-02 06:41] #43 closed

[2017-06-04 10:48] rzo1 opened #48 "Version 1.10 Maven Central probabily broken?"
Hi @kennycason ,

just recognized, that you released `1.10`.

However, I think, that this release on mvn-central is broken.

I cannot find the "father-pom" for 1.9 / 1.10: http://repo1.maven.org/maven2/com/kennycason/kumo/

Modules are available in 1.9 and 1.10: http://repo1.maven.org/maven2/com/kennycason/

Maybe you can take a look at it :) - for now, it is not useable via mvn central and one ha

[2017-06-05 22:35] kennycason commented on #48
oh crap. Thanks! I'll get this fixed asap.

[2017-06-05 22:59] kennycason commented on #48
@rzo1 Appears to be updated. I checked both directories you linked to.

[2017-06-06 09:40] rzo1 commented on #48
seems to be available now, but i will check in 1-2 days until the mvn repos are synced

[2017-06-06 15:04] rzo1 commented on #48
ok, i integrated `1.11` which worked via Maven Central.

[2017-06-06 15:04] #48 closed

[2017-06-16 13:26] nicks258 opened #49 "How to use your library for android?"
@zapodot @JNKHunter @kennycason @rj93 @rzo1

[2017-06-19 05:03] kennycason commented on #49
My guess is that you just important and follow the examples on the README. I'm honestly not sure if there is anything "special" about android that would require special use. Can you paste specific issues/errors you find here?

[2017-06-23 10:56] glorieux-f opened #50 "Help on your code"
Hi Kenny,

I’m working in NLP for French https://github.com/oeuvres/Alix
I’m providing WordClouds with morpho-syntactic infos (nouns, names, verbs…).
http://obvil.lip6.fr/alix/wordcloud.jsp?bibcode=hugo_miserables&frantext=on
This javascript lib provide a nice result, but is client side and do not allow caching.
I have started a java implementation with an HTML output.
https://github.com/oeuvres/A

[2017-06-26 08:43] nicks258 commented on #49
but how to download this library for android as there is no dependency for this i found ->// ```
https://mvnrepository.com/artifact/com.kennycason/kumo
compile group: 'com.kennycason', name: 'kumo', version: '1.0'
[code]

[2017-06-26 08:48] rzo1 commented on #49
You should use: https://mvnrepository.com/artifact/com.kennycason/kumo-core/1.11

[2017-06-26 21:53] kennycason commented on #50
For clientside word clouds I recommend checking out: https://github.com/jasondavies/d3-cloud
Our company uses this for our client facing word clouds as well. :)

Let me know all the issues you run into or things that Kumo can't do, feature wise, as I'd likely be interested in adding them to kumo as well.

[2017-07-11 10:02] glorieux-f commented on #50
Hi Kenny,

Sorry to have miss your comment, I was busy on other tasks.
I will recheck jasondavies. I’m afraid of Javascript freeze on client  because I want to display dozens of wordclouds as search results in a bibliographic base.
I will give you news here when I will have found my solution, thanks for advice.

[2017-07-13 14:32] pedrocalais opened #51 "buildWordFrequencies count frequencies wrongly."
[code]
Since there is no else, each frequency is counted as frequency + 1.

[2017-07-13 14:37] pedrocalais commented on #51
The most elegant solution is to just initialize the map with 0 instead of 1 =)

[2017-07-13 19:20] kennycason commented on #51
Good catch. :)
I replaced it with:
[code]

[2017-07-13 19:20] #51 closed

[2017-07-13 19:23] kennycason commented on #51
I did not do a version bump/release since this doesn't really affect anything functionally.

[2017-07-20 16:16] kennycason opened #52 "Support Loading of Frequency:Word Pair Text File"
e.g.

[code]

[2017-07-29 13:35] jayyuz commented on #22
u can try this
 `wordCloud.setKumoFont(new KumoFont("宋体", FontWeight.PLAIN));`
Remember to add [the font file](http://file3.data.weipan.cn.wscdns.com/77097705/941f76fdcccfd5930091367722eccd35b7339600? Ip=1501335167112.95.2.189&ssig=Z7PuYYZqiZ&Expires=1501335767&KID=sae, l30zoo1wmz&fn=simsun.ttc&skiprd=2&se_ip_debug=112.95.2.189&corp=2& from=1221134) to _/jre/lib/fonts_

[2017-08-03 16:12] dje34 commented on #29
My opinion is that JFrame is only one possible option, I guess many users of your wonderful API don't embed the generated cloud in a swing client.
A first very interesting step would be have the possibility to get, after generation, the list of words with the used coordinates in the rendered picture.
This would open the way to implement click support for many platforms (web with javascript, mobile

[2017-08-04 20:57] jamespfluger commented on #49
@kennycason This isn't as simple as it should be because `java.awt` is not supported on Android, thus the Dimension class is not supported when creating a `WordCloud` object. There is no problem importing this project and compiling it, but implementing it is another issue.

Unless I'm misreading your code and Dimension doesn't use `java.awt`?

[2017-08-04 21:10] rzo1 commented on #49
`core` contains a lot of `java.awt` classes...

[2017-08-04 22:07] jamespfluger commented on #49
Right, but `Dimension` is something that requires an import of `java.awt`. I don't know how well the other classes work (the ones within `core`), but I do know that `Dimension` can't be imported because Android doesn't support it. And if `Dimension` can't be imported, then the library can't be used. Some aspects should work fine, but the drawing features likely won't.

If `core` uses a lot of `jav

[2017-08-08 00:51] jamespfluger commented on #49
Well I spent the past couple days working on rewriting Kumo in Android, but there are just too many functions that I don't know what the proper Android equivalent would be.

I think it might be easier to write a whole new library than try and figure out what lines are portable.

[2017-08-08 20:30] kennycason commented on #49
@jamespfluger I'm admittedly not super up-to-date on all the intricacies/limitations of Android development. If you could highlight the core problems. I'd be happy to look into solving them if possible.

@rzo1 I read up more on java.awt missing from Android, of which I was completely unaware of. This seems like it would indeed be a massive refactoring. Thoughts?

[2017-08-09 07:57] rzo1 commented on #49
`core` module heavily rely on `awt`-classes including classes like `BufferedImage`, `Dimension`.
If I remember it right, the `WordCloud` class is based upon `BufferedImage`.

In order to use it in Android, we would need to introduce some sort of abstract layer for `WordCloud` (+ some sort of implementation specific factory) and separate Drawing-Algorithmns (atm on `BufferedImage`) in `WordCloud` (

[2017-08-10 00:01] kennycason commented on #49
Seems in line with what I was thinking. Will definitely not be trivial. I'll investigate next time I jump into Kumo

[2017-08-26 05:15] hdiwan commented on #42
From com.kennycason.kumo.examples.WordCloudITest:

    private static ColorPalette buildRandomColorPalette(final int n) {
            final Color[] colors = new Color[n];
            for (int i = 0; i < colors.length; i++) {
                colors[i] = new Color(RANDOM.nextInt(230) + 25, RANDOM.nextInt(230) + 25, RANDOM.nextInt(230) + 25);
            }
            return new ColorPalette(colors);

[2017-08-28 21:28] #42 closed

[2017-09-14 14:30] RedNoo opened #53 "Image to Word Cloud Issue"
Hello,

I am trying to convert an image to word-cloud (like your whale.png).
But I am getting the following result. What can be the problem?
![beautiful](https://user-images.githubusercontent.com/527050/30435368-4510f128-9972-11e7-95c8-5ad79fb7673d.png)
![result](https://user-images.githubusercontent.com/527050/30435389-50bf0cbc-9972-11e7-8413-d10d9b4e4c74.png)
Best
Onder

[2017-09-23 14:10] Donnerbart commented on #53
The image will most probably have no alpha channel (there are no transparent pixels, so the word cloud is generated on the whole image).

[2017-12-01 03:02] kennycason commented on #53
@Donnerbart Is correct. If you open the image in another tab, you'll see the background is actually white, and not transparent. :)

[2017-12-01 03:02] #53 closed

[2017-12-01 03:06] kennycason commented on #39
@artikulant Sorry for the extremely late response. I ended up encountering this same issue internally (albeit, in a js library). I think this issue should be addressed as well.

Some ideas are to pre-compute max font size based on longest words and fit them in (potentially overriding set max font).
Add options to throw exception when word can't fit, or providing interface to get words that didn't

[2017-12-01 03:10] kennycason commented on #37
Coming back to this, I now realize I misunderstood your initial intent. I realize you were talking about the normalization phase and NOT optimizing the tokenization phase. It should be pretty straight forward to speed that part of the code base up. I'll look into it. :)

[2017-12-01 04:22] kennycason opened #54 "Convert Log4j to SLF4j"

[2017-12-01 05:14] #54 closed

[2017-12-01 05:51] kennycason opened #56 "Add Unit test for FrequencyAnalyzer"

[2017-12-01 06:16] #52 closed

[2018-01-28 05:40] Leniox commented on #49
Has there been any development on this? Would have loved to use this in a hackathon but I can't seem to get it to work at all. Missing libraries and incompatible types with Android.

[2018-01-30 10:16] kennycason commented on #49
@Leniox Unfortunately I am pretty disconnected with Android development and outside of what's in this thread and am not super up-to-date. I would be happy if someone wanted to make it support Android. I promise that the next time I dig into Kumo I will investigate Android support. :)

[2018-03-21 15:59] tirkarthi opened #58 "Include import statements in README"
Thanks for your project. I was trying to build a wrapper around this Java library in Clojure since there were no native word cloud solutions in Clojure. The README examples were missing the import statements that made me search the examples for relevant classes. Improving examples on the README by adding import statements will be great so that the developer can copy paste and run the examples easi

[2018-03-21 19:04] tirkarthi commented on #58
I made an initial port at https://github.com/tirkarthi/clj-wordcloud . It seems Travis fails with JDK 7 due to `unsupportedclassversionerror` . I don't know if this is related to the library or due to using it with Clojure.

Travis build failure : https://travis-ci.org/tirkarthi/clj-wordcloud/jobs/356513667

Thanks a lot for the library.

[2018-03-21 20:34] kennycason commented on #58
Howdy! Thanks for using Kumo :)

It's because Kumo is written for Java 8. It currently doesn't support Java 7 Many apologies! I just really liked lambdas :)

Thanks for the feedback, I had considered adding imports as well. I'll see how much space it adds to the readme, OR I'll create a class with the examples (which is also a good way to guarantee they compile and are up-to-date and link the read

[2018-03-22 05:33] tirkarthi commented on #58
Cool, no apologies. I was just curious about the error. According to the recent survey only 7% of the Clojure community uses JDK 7 and below with 88% of them on JDK 8. I don't think it will be a major issue. With JDK 10 released I think it's a good move along with the rich set of goodies present in JDK 8 like streams and lambdas.

[2018-04-14 15:24] annaxcnl opened #59 "Can I set the circle background as variable ?"
I have 500 text files of the word frequency, and I have to build a wordcloud for each of them.
However, the text files are vary in word number, I want to build a wordcloud which fit their size most. How can I do this smartly? Hope you can answer my fool question, haha

[2018-04-18 02:40] kennycason commented on #59
Ah interesting. So If I understand right, since you have many text files with many different words of varying length/frequency, how can you best fit the most words into each of the word cloud so that each word cloud is maximally "dense". In other words, one parameter setting for kumo may not be good enough. Does that summarize your question?

[2018-04-18 03:04] annaxcnl commented on #59
Yes, exactly.

On Wed, 18 Apr 2018 at 10:40 AM, Kenny Cason <notifications@github.com>
wrote:

[2018-04-30 06:09] lucsmall-ei opened #60 "Right edge of text is cut off for some words"
When generating word clouds, we are noticing that for some words the right hand edge is cut off.

![image](https://user-images.githubusercontent.com/27182555/39416277-11ecf384-4c8f-11e8-8d3b-cf8b1283a339.png)

This doesn't happen to all the words - roughly 50% appear perfectly:

![image](https://user-images.githubusercontent.com/27182555/39416285-2cd413c6-4c8f-11e8-81d0-13fceb38c2e9.png)

And it c

[2018-04-30 19:13] kennycason commented on #60
Oh interesting. I have not noticed this. I may be calculating width poorly somewhere. Thanks for posting an example.

[2018-05-29 19:16] FunThomas424242 opened #62 "set log4j binding to scope=test"
Hello,
the usage of slf4j is nice to make a logger agnostic software. But the binding of log4j destroyed the agnostic.

Please set the scope of log4j bindings to "test".  I have done this for you at pull request #61.

(Very thanks for your nice software)

[2018-05-29 20:04] kennycason commented on #62
good catch. I will do that! thanks for noticing and commenting.

[2018-05-30 22:21] kennycason commented on #62
Thanks for the pr! Merged in. I'll do a version bump + release soon.

[2018-05-30 22:21] #62 closed

[2018-06-06 06:16] michaelizer opened #63 "Logo proposal"
Greetings,

I'm a graphic designer and I would be more than happy to contribute to your project by creating a logo for it, let me know if you are interested.

Best regards.

[2018-06-07 02:40] michaelizer commented on #63
I'd like to ask some questions before starting, your answers will help me to deliver a better product.

- What's the name that should be displayed on the logo?, If there should be any.
- How would you describe this project and What is it intended to do?
- What would you like this logo to transmit?

I'll look forward to your reply, kind regards.

[2018-06-14 01:01] michaelizer commented on #63
What do you think of these?
![api](https://user-images.githubusercontent.com/35619342/41385977-e104f524-6f4c-11e8-9d62-dfcc02c8f011.png)

[2018-06-16 22:07] kennycason commented on #63
@michaelizer Thanks! I think I like the bottom left, without the trailing circles. I like that its is slightly of center. The off center nature of it for some reason even made me thing of the cloud being "alive", like having eyes or what not haha.

Which one do you like?

[2018-06-17 03:18] michaelizer commented on #63
I liked both of the bottom, if you liked the left one I'll upload the files through a pull request. What do you say?

[2018-06-17 06:47] kennycason commented on #63
Sounds great. We should probably make a transparent background version as well.

[2018-06-18 16:52] joergrech opened #64 "Feature Request: Scale/Resize background images to WordCloud dimensions"
I would like to use an image as a background on a wordcloud of different sizes / dimensions without creating an individual image for each size.

For example, I would like to use the whale.png image with 990x618 pixel on a Wordcloud with 4000x4000 pixel and need to scale the whale image roughly 4 times (in both dimensions to keep the proportions).

I couldn't find a way to do this using the setBack

[2018-06-26 23:17] michaelizer commented on #63
@kennycason Done! ([#65](https://github.com/kennycason/kumo/pull/65)), also uploaded the files on Google Drive adding the .svg, .pdf and other files for you to have full control of your logo.

[2018-07-05 17:04] kennycason commented on #63
merged. :) Thanks again!

[2018-07-05 17:04] #63 closed

[2018-07-19 07:49] thomasegense opened #66 "Default Normalizers not working"
I am using the latest 1.13 release.

The FrequencyAnalyze default constructor adds the following normalizers:
'''public FrequencyAnalyzer() {
        this.normalizers.add(new TrimToEmptyNormalizer());
        this.normalizers.add(new CharacterStrippingNormalizer());
        this.normalizers.add(new LowerCaseNormalizer());
    }
'''
And this seems correct, but it does not work properly. It leaves w

[2018-07-20 20:36] kennycason commented on #66
Thanks for posting this . I'll check it out. Seems like it should be a straight forward fix.

[2018-07-20 20:39] kennycason commented on #66
Could you give me a sample input? Are you loading from a raw text file? or are you loading a "Frequency file" of the format:

[code]

[2018-07-20 20:50] kennycason commented on #66
I created a simple unit tests with some weird text and could not immediately replicate your issue.
Test
[code]

The contents of trim_test.txt:
```I'm some  random     random   text with   spaces  .```

Feel free to post your raw text/file and I can add tests around it and help debug.

[2018-07-20 20:53] kennycason commented on #66
I went ahead and pushed up the test since there was no existing FrequencyAnalyzerTest. https://github.com/kennycason/kumo/blob/master/kumo-core/src/test/java/com/kennycason/kumo/nlp/FrequencyAnalyzerTest.java

[2018-07-23 06:50] thomasegense commented on #66
Here is an example text file with the bug.
https://drive.google.com/open?id=1LRRwy0WW1TJ06f7QNN21A_anrGmYBAVu
I gives same result loading from a text-file or from inputstream.

[2018-07-23 16:32] kennycason commented on #66
@thomasegense thanks for the sample! I'll check it out.

[2018-07-26 05:38] thomasegense commented on #66
Hi again, can you reproduce the error?

[2018-08-02 22:44] kennycason commented on #66
@thomasegense Hi, Sorry this week has been hectic for me at work. I'll try and look at over this weekend. I have this tab open in my browser. :)

[2018-08-13 03:07] caiyongji opened #67 "drawing png Chinese incorrectly encoded"
also tried to load List<String>

[code]

[2018-08-13 17:37] kennycason commented on #67
Can you upload a picture of the resulting image? I can't tell the problem from only this code. Also, if possible, post temp.txt as well. Thanks

[2018-08-16 23:26] #58 closed

[2018-08-16 23:27] kennycason commented on #32
@hilecx I wanted to follow up on this. Do you have any recommendation for a good default font? I'm planning on improving font loading/support/sane fallbacks.

[2018-08-17 07:57] #56 closed

[2018-08-17 07:57] #50 closed

[2018-08-17 07:59] kennycason commented on #26
done: https://github.com/kennycason/kumo/commit/812f659a7a8eafb2ea5532c658b42ad4db79a9dd#diff-844e1fbb499a02540530f57b737a60e3

[2018-08-17 08:00] #26 closed

[2018-08-17 08:11] #30 closed

[2018-08-17 08:12] #22 closed

[2018-08-17 18:31] kennycason commented on #19
going to mark as duplicate of #49, only because #49 has more commentary on it.

[2018-08-17 18:31] #19 closed

[2018-08-22 21:12] ibrahimrajabli commented on #38
still not svg export? :)

[2018-08-23 06:15] kennycason commented on #38
Correct. It would require a full rebuild of the rendering issue as currently the rendering engine and collision is all based off of BufferedImage. I would need to think more about the implementation. Another idea is to simply store the location and size that the text is placed in the word cloud and from that i'm sure there's a library that can support text + SVG for the export. But I'd need to thi

[2018-09-04 23:34] kiritodragneel opened #70 "Text word cloud"
Hello,
  Is it possible to use text as the word cloud, for example

**EXAMPLE** to then be filled with loads of other words for example.

[2018-10-11 10:53] tyfqwer opened #71 "求教"
大神们，怎么设置水平方向排版出现的频率？

[2018-11-01 16:15] unitron commented on #60
I have almost the same issue (upper/lower edge of text is cut off for some words) in v1.5. Have you fixed this in latest version?

[2018-11-20 06:45] bestchenwu opened #73 "chinese word can't be supported"
I want to make a chinese word cloud,and the code is

public class ChineseAnalyzeTask {

	public static void main(String[] args) throws IOException{
		final FrequencyAnalyzer frequencyAnalyzer = new FrequencyAnalyzer();
		frequencyAnalyzer.setWordFrequenciesToReturn(600);
		frequencyAnalyzer.setMinWordLength(2);
		frequencyAnalyzer.setWordTokenizer(new ChineseWordTokenizer());

		final List<WordFre

[2018-11-21 00:11] kennycason commented on #73
@bestchenwu could you upload the font file?

[2018-12-10 03:22] faseidl opened #75 "LogFontScalar has incorrect calculations"
The calculation of `leftSpan` uses `Math.sqrt()` but should use `Math.log()`.

[2018-12-10 03:47] faseidl commented on #75
Also, when `minValue` is zero (as it is passed in from `WordCloud.buildWord()`), the calculation of `scaledValue1` attempts to evaluate `Math.log(0)`, which is undefined.

[2018-12-12 19:20] kennycason commented on #75
good catch! :)

[2018-12-27 08:35] KrallBigFan opened #76 "stop-words-file fix"
The option --stop-words-file  is ignored when using the command line interface. Here is a proposition of patch that fix it:
[stop-words-file-CLI.patch.txt](https://github.com/kennycason/kumo/files/2711926/stop-words-file-CLI.patch.txt)

[2018-12-31 07:02] rakeshbhatt10 opened #77 "JDK Version issue"
Hi,

What java versions are supported? I am trying to run it in jdk 7 but it gives an error on running

 com/kennycason/kumo/bg/Background : Unsupported major.minor version 51.0

Regards,
Rakesh

[2019-01-05 19:40] Namnodorel commented on #49
I have a need for a kumo implementation on Android, too :D There are further problems, because Android also doesn't allow some of Javas default file writing interfaces, but I've ignored that for now. Just to get a better idea of what we're looking at, I've made a list of all `java.awt` classes used in kumo, and which methods of those were used. Next to them are the Android equivalents, if I found

[2019-01-07 06:00] FDU-SE-LAB opened #79 "Your project kennycason/kumo is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-18 20:17] sirmordred commented on #49
Wordcloud for android, here you go mates https://github.com/sirmordred/WordCloud 👍

[2019-01-21 12:18] panglei1984 opened #81 "It's invalid to setBackground with a picture,the result is always a rectangle background picture"
the code is ,
public static void gen() throws IOException {
        final FrequencyAnalyzer frequencyAnalyzer = new FrequencyAnalyzer();
        frequencyAnalyzer.setWordFrequenciesToReturn(70);
        frequencyAnalyzer.setMinWordLength(3);

        File f = new File("F:/temp/text.txt");
        final List<WordFrequency> wordFrequencies = frequencyAnalyzer.load(new FileInputStream(f));
        fi

[2019-01-23 01:18] kennycason commented on #77
Java 8, Sorry I really like functions as a first class citizen. :)

[2019-06-23 13:20] eramire2 opened #83 "Homebrew install fails"
brew install kumo
==> Downloading https://search.maven.org/remotecontent?filepath=com/kennycason/k

curl: (22) The requested URL returned error: 504 Gateway Time-out
Error: An exception occurred within a child process:
  DownloadError: Failed to download resource "kumo"
Download failed: https://search.maven.org/remotecontent?filepath=com/kennycason/kumo-cli/1.17/kumo-cli-1.17.jar

[2019-07-18 21:32] kennycason commented on #83
@eramire2 I'll check it out. it used to work. :)

I just did a quick search and see that version 1.17 is released to maven central: https://search.maven.org/artifact/com.kennycason/kumo-core/1.22/jar

The Download failed url you posted also resolves for me: https://search.maven.org/remotecontent?filepath=com/kennycason/kumo-cli/1.17/kumo-cli-1.17.jar

I'll check out the script.

[2019-08-24 13:34] Namnodorel commented on #27
I think it's worth looking at some other implementations of this. For example, [WordCram](https://github.com/danbernier/WordCram/tree/master/src/wordcram) has `WordPlacer`s, which _suggest_ a place to put a word - and if that place doesn't work, there are `WordNudger`s, which nudge the word in some direction according to their individual strategy.

[2019-08-29 17:53] kennycason commented on #27
@Namnodorel Thanks. I will do. I really wish I just did this when I first started building this thing. I was just hacking it out for fun at first. :)

[2019-09-08 23:01] csmake commented on #73
final FrequencyAnalyzer frequencyAnalyzer = new FrequencyAnalyzer();
            frequencyAnalyzer.setWordFrequenciesToReturn(600);
            frequencyAnalyzer.setMinWordLength(2);
            frequencyAnalyzer.setWordTokenizer(new ChineseWordTokenizer());

            final List<WordFrequency> wordFrequencies = frequencyAnalyzer.load("词频汇总.txt");
            final Dimension dimension = new Dime

[2019-09-21 12:42] atwork1428 opened #86 "persian word support"
Hi kennycason,

Does it support Persian/Arabic words ?
How should I use ?

Regards,
nushin

[2019-12-30 10:13] candrwow opened #87 "How to repeat word and auto fill the Mask Bitmap?"
I have a few words and a big picture, the words do not repeat, can not fill mask, maybe manually add repeated word frequency is a solution, but in the API level is there a way to automatically fill?
Thank you for your work!

[2020-03-27 14:35] cmj1999 commented on #76
i also met this problem

[2020-03-27 20:55] kennycason commented on #76
I'll take care of this shortly.

[2020-05-08 04:51] kennycason commented on #87
@candrwow thanks a lot! It looks like someone also decided this was an issue and pushed up a PR. After some minor changes I'll merged and release a long overdue version bump.

[2020-05-08 04:51] kennycason commented on #87
https://github.com/kennycason/kumo/pull/88

[2020-05-08 04:52] kennycason commented on #64
Hey! I know this was a __LONG__ time ago, but someone picked up the issue. Pending a few small requests i'll be merging this in. https://github.com/kennycason/kumo/pull/88

[2020-05-12 00:08] kennycason commented on #64
work complete and merged

[2020-05-12 00:08] #64 closed

[2020-05-12 00:09] kennycason commented on #87
work complete and merged

[2020-05-12 00:09] #87 closed

[2020-05-12 00:10] kennycason commented on #83
I'll be checking this out again today as i release a new version.

[2020-05-12 00:17] kennycason commented on #81
Hi, do you know if "whale.jpg" has transparent pixels or if the bg is just white? Kumo works by placing text where ever it finds transparent pixels. A future feature request may be supporting a TRANSPARENT_COLOR, so that we can say "white or some other color is considered transparent"

[2020-05-12 01:08] kennycason opened #89 "Check CI Failure"
Tests are all good, likely a CircleCI config issue.

Note: Check ninjaturdle config for recent fix, likely related issue.

[2020-07-14 18:03] drkstr101 opened #92 "category feature"
Hi Kenny,

This is a great little tool you have here! I wanted to add a category dimension to the basic `WordCloud`, and I found this easy to do with just a few slight modifications. Essentially I just added an optional `int category` to `WordFrequency` which is an integer index within the range of colors in `ColorPallate` and defaults to `-1`. If this value is greater than or equal to `0` than us

[2020-08-06 10:39] jaaaaaaaake opened #93 "Hi,Kenny,If the number of words is very small, can I repeat the words? I have been looking for this example for a long time"
If the number of words is very small, can I repeat the words? I have been looking for this example for a long time.Thank you!

[2020-08-26 20:23] kennycason commented on #93
@jaaaaaaaake I hadn't thought about that as a use-case, but I think you should be able to easily do that by simply duplicating the word frequency list. It's been a bit since I looked at the code, but I'm pretty sure it does not perform any de-duplication.
It would be a bit manual, but then at least you could determine what words to duplicate and how many times you want to duplicate them.

Does tha

[2020-09-11 13:24] danlangford opened #94 "add support for users using java 9+ modules"
# Request
add support for users using Java 9+ jigsaw/JMPS modules. Currently when I use kumo in my moduled project i get an error.

# Error

[code]

which was addressed here: https://stackoverflow.com/questions/46277188/modules-a-and-b-export-package-some-package-to-module-c-in-java-9

# Supporting Evidence

A couple of reasons I feel this would be a good idea for your project:
- java 14 added `jp

[2020-09-11 13:26] danlangford commented on #94
I would be more than willing to assist by supplying a PR but wanted to see if you have put thought or work into it before I submit a PR that changes your package structure all around. As a fellow Java developer I understand that a package structure and project organization may have a very specific form that others may not fully appreciate at a glance.

[2020-09-22 23:24] kennycason commented on #94
@danlangford good catch. Thanks! Checking the PR now!

[2020-11-24 02:38] itanag opened #97 "NoClassDefFoundError WordTokenizer"
'NoClassDefFoundError WordTokenizer' exception when creating ‘FrequencyAnalyzer’。
and can't find ‘WordTokenizer’ in the 'jar' package
version is 1.27

[2020-11-25 00:14] kennycason commented on #97
Hi, sorry for the issues. I also noticed that the build is failing. I owe the project a good overhaul but have been overloaded with work recently.

In the interim, can you ensure that you have all the relevant dependencies included? (I _think_ WordTokenizer ideally should be included but may not be now)
via:
[code]

It contains the interface for [WordTokenizer](https://github.com/kennycason/kumo/t

[2020-11-25 00:19] kennycason commented on #94
@danlangford extremely late, but finally merged in! thanks again! Note that i'll need to do a maven version bump and deploy. I'm going to do that now, barring no issues.

[2020-11-25 04:23] #94 closed

[2020-11-25 04:24] kennycason commented on #97
1.28 deployed today as well if you want to try it out as well.

[2021-04-24 08:40] Daxunyu commented on #93
I want to solve this issue

[2021-04-24 11:47] apostlewang commented on #81
Hi! @kennycason , I want to involve in this issue by adding the feature offering user the option to transparentize the background of the picture without a transparent background. I have wrote some code to provide the feature and will do the PR later.

[2021-04-24 11:55] DiogerChen commented on #35
Hey, I'm interested in this issue, and wanna try to implement this feature that can render Apple or Google Color Emoji. Now I'm studying something about Java font rendering and reading your code. I will send pull request in the future (no more than 2 months). Hope I can do it! 😉

[2021-05-05 10:29] uqlel commented on #93
it's deduplicating it
files/test.txt:
[code]
my function:
[code]
files/out.png:
![obraz](https://user-images.githubusercontent.com/59146379/117128260-75a2b400-ad9d-11eb-8af8-f39e676a4188.png)
console output:
[code]

[2021-05-05 10:31] uqlel opened #103 "FrequencyAnalyzer is de-duplicating words"
files/test.txt:
[code]
my function:
[code]
files/out.png:
![obraz](https://user-images.githubusercontent.com/59146379/117128260-75a2b400-ad9d-11eb-8af8-f39e676a4188.png)
console output:
[code]

[2021-05-05 10:47] uqlel commented on #103
wordCloud.getSkipped() is returning []

[2021-05-19 11:56] Daxunyu commented on #103
Hi uqlel! I like your method of using test cases to improve the performance of the code and function

[2021-05-19 13:49] Daxunyu commented on #36
Hi Kennycason! I would like to give a try to work on this issue.

[2021-05-22 06:11] apostlewang commented on #81
#99

[2021-07-29 18:12] kennycason commented on #36
@Daxunyu please do! :) (sorry for late response, work has been busy^2)

[2021-08-19 12:23] natarajbe opened #104 "Multi Language support"
Hi Kennycason.

Is there way to add multi language support to your library (Arabic and English) . I saw your example code for ChineseTokenizer, But our requirement is to provide wordcloud as a image which will have multiple languages. Please help us.

[2021-09-17 12:25] AmmarSahib012 opened #106 "Slow Build process"
I am trying to create a word cloud for almost 25k images build process takes almost 80-100 seconds to build the image
is there a way I can get this response quicker then this teime?

[2021-10-15 15:54] JohnMcGrane commented on #39
Hi @kennycason Has this issue been fixed?

[2021-11-29 14:37] Leibuyun opened #107 "I need help"
1. how can I adjust the angle of the word? I don't like horizontal or vertical.
2. I defined the width and height to be large, such as 1200*1200, but there are fewer words, how do I get them as clustered and centered as possible.

[2021-11-29 15:10] Leibuyun commented on #107
solve!
wordCloud.setAngleGenerator(new AngleGenerator(0));

wordCloud.setWordStartStrategy(new CenterWordStart());

[2021-11-29 15:10] #107 closed

[2021-12-07 12:44] palmafr opened #108 "class not found problem with WordTokenizer"
Running the following code by importing the v1.28 jar from maven repo shows an error:

final FrequencyAnalyzer frequencyAnalyzer = new FrequencyAnalyzer();
final List<WordFrequency> wordFrequencies = frequencyAnalyzer.load("text/my_text_file.txt");
final Dimension dimension = new Dimension(600, 600);
final WordCloud wordCloud = new WordCloud(dimension, CollisionMode.RECTANGLE);
wordCloud.setPaddin

[2022-01-24 16:20] zachzientek commented on #38
+1 on being able to output SVG

[2022-04-07 15:15] DjSingh207 opened #109 "Not able to download the JARs for 1.28 from Maven Dependency"
Hi Kenny,

Thanks for the library provided for generating Word Clouds in Java. Currently I am facing issue in download the JARs for version 1.28 from Maven Dependency.

Checked the path https://repo1.maven.org/maven2/com/kennycason/kumo/1.28/ but the jars itself are not available there. Looks like a build failure.

 Can you please advise on the same.

[2022-06-29 10:30] kennardconsulting commented on #38
There's a good chance all it would take is exposing those methods that create/accept a Graphics2D. Then we could hook in Apache Batik's Graphics2D implementation (which converts graphics calls to SVG).

[2022-07-17 12:55] WilliamHan0925 opened #110 "How can I position text horizontally???"
Hello, kenny
How can I position text horizontally? Parallel_bubble_text.png!!  in the output folder of your source is arranged horizontally.

thanks your perfectCode

[2022-07-21 16:08] Endeaveloper commented on #110
I found that angle control is possible AngleGenerator.  Thank you

[2022-07-21 16:13] WilliamHan0925 commented on #110
I found that angle control is possible through AngleGenerator. Thank you

[2022-08-30 15:03] gabrielapinto commented on #60
Hello! Any solution for this problem? I am facing the same problem with cut off words. I would appreciate any help!

[2022-11-25 14:05] rzo1 commented on #109
You need to use

[code]

https://repo1.maven.org/maven2/com/kennycason/kumo-core/1.28/